/* Task: Assign the text color #3D3D3D to the HTML tags body and p,
	and the background color #6D6D6D to the HTML tags body and h2 using Sass variables */

$text-color: #3D3D3D;
$background-color: #6D6D6D;

body {
	color: $text-color;
	background-color: $background-color;
}

p {
	color: $text-color;
}

h2 {
	background-color: $background-color;
}
